.profile__add-button{
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: black;
  background-image: url(../../../images/Plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
}
.profile__add-button:hover{
  opacity: 0.6;
}
@media screen and (max-width: 900px){
  .profile__add-button {
     max-width: 320px;
     width: 282px;
     margin-top: 32px;
  }
}
